{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'todoapp/style.css' %}">
    <title>Document</title>

</head>

<body>
    <div class="container">
        <div class='tasks'>
            <h3>Log in</h3>
            <form id='inform' class="form" method="post" action="{% url 'loginaction' %}">
                {% csrf_token %}
                <div> <input id="intitle" name="username" type="text" class="input" placeholder="username" /> </div>
                <div> <input id="password" name="password" type="password" class="input"
                        placeholder="password" /> </div>
                <div> <input id='insubmit' type="submit" class="add" value="Log in" /> </div>
            </form>
            <p>Don't have an account? <a href="{% url 'signup' %}"> Sign up </a>
        </div>
    </div>

        <!-- <form class="form" method="post"
                action="{% url 'loginaction' %}">
                {% csrf_token %}
                <h3 >Log in</h3>
                <br>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="mail outline icon"></i>
                        <input class="input" type="text" name="username" placeholder="Username" autofocus="true">
                    </div>
                </div>
                <br>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input class="input" type="password" name="password" placeholder="Password">
                    </div>
                </div>
                <br>

                <!-- <div class="field">
        <div class="ui left icon input">
        <i class="lock icon"></i>
         <input type="password" name="password_confirmation" placeholder="Password Confirmation">
        </div></div><br> -->

        <!-- <div class="actions">
            <button class=" ui large teal button" type="submit">Log in</button>
        </div>
        <br>
        
            </form> -->



</body>

</html>